.box{
    width: 50%;
    height: 40%;
    left: 40%;
    background-color: rgb(255, 255, 255);
    border-radius: 6%;
    position : absolute;
    display: flex;
    justify-content: center;
    border: solid rgb(216, 49, 211);
}

.loginpage{
    border: solid rgba(136, 57, 133, 0);
    width: 40%;
    height: 96%;
    margin: 1%;
    font-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6%;
    transition: all 200ms ease-out;
}

.loginpage:hover{
    border: solid rgb(226, 205, 246);
}

.loginpicture{
    border: solid rgba(136, 57, 133, 0);
    margin: 1%;
    height: 96%;
    width: 60%;
    position: relative;
    justify-content: center;
    display: flex;
    background-image: var(--bg,url('./assets/login/ayame.png')) !important;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6%;
    transition: all 200ms ease-out;
}

.loginpicture:hover{
    border: solid rgb(226, 205, 246);
}

.search{
    position: absolute;
    width: 90%;
    border: solid rgba(226, 205, 246, 0);
    background-color: rgba(0, 255, 255, 0);
    border-radius: 30px;
    height: 8%;
    top: 1%;
    transition: all 200ms ease-out;
    font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.search:hover{
    border: solid rgb(226, 205, 246);
}

.date{
    position: absolute;
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: min(5vw, 80px);
    font-family: monospace;
    font-weight: bold;
    display: block;
}

.button{
    width: 60%;
    max-width: 180px;
    height: 10%;
    max-height: 130px;
    border : 0px;
    border-radius: 10px;
    background-color: rgb(216, 49, 211);
    position : absolute;
    bottom: 50px;
    cursor: pointer;
    font-size: min(2.7vw, 30px);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    align-self: flex-end;
    transition: background-color, color 200ms ease-out;
}

.button:hover{
    background-color: rgb(226, 205, 246);
    color: rgb(216, 49, 211);
}

.title{
    font-size: min(4vw, 60px);
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin: 5%;
}

.inputcontainer{
    position : absolute;
    top: 63%;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    row-gap: 15%;
    justify-content: center;
}
.input{
    border : 1px solid rgb(216, 49, 211);
    border-radius: 10px;
    height: 50%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: border 200ms ease-out;
}

.input:hover{
    border : 1px solid rgb(226, 205, 246);
}

.playbutton{
    background-color: transparent;
    background: url('./assets/login/ayame.png') 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    height: var(--button-height, 10%);
    bottom: 0;
    border: 0;
    align-self: center;
    transition: height 200ms ease-out;
}

.playbutton:hover{
    height: 70% 
}

.playbutton2{
    background-color: transparent;
    background: url('./assets/login/ayame.png') 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 70%;
    width: var(--button-height, 10%);
    border: 0;
    transition: all 200ms ease-out;
}

.playbutton2:hover{
    width: 70%;
}

.playbutton3{
    background-color: transparent;
    background: url('./assets/login/ayame.png') 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 70%;
    align-self: flex-end;
    width: var(--button-height, 10%);
    border: 0;
    transition: all 200ms ease-out;
}

.playbutton3:hover{
    width: 70%;
}

.playbutton4{
    background-color: transparent;
    background: url('./assets/login/ayame.png') 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 70%;
    height: var(--button-height, 10%);
    top: 0;
    border: 0;
    transition: height 200ms ease-out;
    align-self: center;
}

.playbutton4:hover{
    height: 70% 
}



.playbuttondiv{
    width: 70%; 
    max-width: 180px;
    aspect-ratio: 1/1; 
    top: 23%;
    position: relative;
    cursor: pointer;
    /* border: solid rgba(255, 0, 0, 0.158); */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
